<div class="bgimg">
  <img src="../../assets/images/Singpass_mock.png" style="width: 100%; position: relative">


  <div class="main-wrapper" fxLayout="column" fxLayoutAlign="start start" class="loginform">

    <!-- <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Sign In</mat-card-title>
      </mat-card-header> -->
   
      <form [formGroup] = "formdata" fxLayout="column" (ngSubmit) = "onClickSubmit()" class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Username" formControlName="username">
          </mat-form-field>
  
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Password" formControlName="password">
          </mat-form-field>

        
  
        </mat-card-content>
        <button mat-stroked-button color="accent" class="btn-block transparent-button" type="submit"
          style ="margin-left: 70%; width: 65%; margin-bottom: -25%">Sign-in</button>
      </form>
    <!-- </mat-card> -->
  </div>
  </div>