<div class="container">
  <div class="row">
    <div class="col-md-12">
      <mat-toolbar class="app-header" fxLayout="row">
        <img src="../../assets/images/ltalogo.png" alt="lta-logo" style="width: 200px;">
        <!-- <div><a href="home" class="positronx">LTA</a></div> -->
        <div fxFlex="grow" fxLayoutAlign="end center">
          <span class="nav-tool-items">
            <a mat-button (click)="logout()">Logout</a>
            <!-- <a mat-button mat-raised-button routerLink="register" routerLinkActive="active">Signup</a> -->
          </span>
        </div>

      </mat-toolbar>

    </div>

  </div>
  <router-outlet></router-outlet>

</div>