<div fxFlexFill>
<div class="main-wrapper" fxFlex="grow" fxLayout="row" fxLayoutAlign="center center">

    <mat-card class="box">
      <mat-card-header>
        <mat-card-title>Register</mat-card-title>
      </mat-card-header>
  
      <form [formGroup] = "formdata" (ngSubmit) = "onClickSubmit()" class="example-form">
        <mat-card-content>
          <mat-form-field fxLayout class="example-full-width">
            <input matInput placeholder="Username" formControlName="username">
          </mat-form-field>
  
          <mat-form-field fxLayout class="example-full-width">
            <input matInput placeholder="Password" formControlName="password">
          </mat-form-field>

          <mat-form-field fxLayout class="example-full-width">
            <input matInput placeholder="Email" formControlName="email">
          </mat-form-field>

          <mat-form-field fxLayout class="example-full-width">
            <input matInput placeholder="Phone Number" formControlName="phone_number">
          </mat-form-field>

        <button mat-stroked-button color="accent" class="btn-block" type="submit">Sign-in</button>
      </mat-card-content>

      </form>
    </mat-card>
  
  </div>
</div>